.ios,
.md {
  page-home {
    .scroll-content {
      background-color: white;
    }

    ion-card-header {
      font-weight: rgba(255, 99, 132, 1) rgba(54, 162, 235, 1) rgba(255, 206, 86, 1);
    }
  }
}

ion-item.selw76 {
  ion-label {
    min-width: 75%;
  }
}

.height {
  height: 65vh;
}

ion-select {
  max-width: 70% !important;
}

.homePos {
  position: relative;
  float: left;
  left: 3%;

}
.awayPos {
    position: relative;
    float: left;
    left: 40%;
 
  }

.table {
  display: table-cell;
  border: 1px solid #000;
  padding: 10px;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}
