<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label>Select Home team</ion-label>
    <ion-select [(ngModel)]="selectedHomeTeam">
      <ion-select-option *ngFor="let team of teamsLaLiga">{{team}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select Away team</ion-label>
    <ion-select [(ngModel)]="selectedAwayTeam">
      <ion-select-option *ngFor="let team of teamsLaLiga" >{{team}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="createChart()"></ion-button>

  <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>