<ion-content>


  <ion-item class="selw76">
    <ion-item>
      <div style="font-weight: bold">Select Home team:</div>
      <ion-select [(ngModel)]="selectedHomeTeam" (ionChange)="createChart()">
        <ion-select-option *ngFor="let team of teamsLaLiga">{{team}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <div style="font-weight: bold">Select away team:</div>
      <ion-select [(ngModel)]="selectedAwayTeam" (ionChange)="createChart()">
        <ion-select-option *ngFor="let team of teamsLaLiga">{{team}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item>

  <div class="height">
    <canvas #lineHomeCanvas></canvas>
  </div>


  <div>
   <div style="font-weight: bold"> Mean Last 5 scored homes:</div> {{meanHomeLast5}}
  </div>




</ion-content>