.title{
   border-bottom: none !important;
   color: darkred;
   font-size: 1.3rem;
   font-weight: bold;
   vertical-align: middle;
   height:50px;
}

.itemfirscol{
    border-bottom: 0px !important;
}

.inputfircol .text-input {  
    border: 0px !important;
}

.fixedheight{
  height:70px;
}

.fixedheightlast{
  height:50px;
}

.item-block{
    min-height: 3.0rem;
}

.collastres {
    flex: 1px 0 50px !important;
}

.combosel{
    position: absolute !important;
    margin: 2px 10px 2px 0px;
}

.divLast{
   margin:0px;  
   padding: 0px 2px 2px 3px;    
   border-width: 2px;
   border-bottom-width:2px;
   border-bottom-style: solid;
   width: 100%;
}



.text-input{
  border: 1px solid grey !important;
  width: 40px;
  min-width: 0;
  display:table;
}

.row:last-child .col {
    border-bottom: none !important;
}
.colind{
    max-width: 120px !important;
}

ion-label {
    margin: 0px 0px 0px 0px !important; 
    align-self: flex-start; 
    display: border-box !important;
}

.col {
    border: none !important;
    border-bottom-style: none;
    /* border-right-style: none; */
}

.select-text{
    font-size: 12px !important;
    margin-top:3px !important;
}

#labeltxt{
 color: darkslategray;
 font-weight: bold;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    box-shadow: none;
}

.item-md{
    align-items: flex-start !important;
}

.text-input-md {
    margin: 0px 0px 0px 5px;
}

.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede !important;
     align-items: flex-start !important;
}

.item-input ion-label {
    color: black !important;
}

ion-label {
    max-width: 320px !important;
    top:-13px;
    vertical-align: 0px;
}



ion-input, ion-textarea {
    position: relative;
    display: block;
    flex: 0 0 0%;
}


#inputgoals  .text-input{
  border: 1px solid grey !important;
  width: 40px;
  min-width: 0;
  display:table;

}

#inputgoals {
    border-bottom-color: #e0e0e0;
}

#middle .item-inner {
  border-bottom: none;
}

#influential .item-inner {
     border-bottom: none;
}

#weather .item-inner {
border-bottom: none;
}

.button {
  height: 1.2em;
}

.mom {
    display: table;
}
.child {
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}
.childinner {
    margin-left: 25px;
}
.child:first-child .childinner {
    margin-left: 0;
}

.item-md {
    font-size: 1.4rem;
    padding-left: 0px !important;
}


.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}


.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

.addbutton{
    margin-left: 40%;
      font-size: 20px;
}

.collastresult{
    max-width: 180px !important;
}