.heightitem{
  max-height: 4rem !important;
  min-height: 4rem !important;
}


.inputnumeric{
  border: 1px solid grey !important;
  max-height: 80% !important;
  margin: 1px 10px 2px 1px !important;
}

#title{
    border-bottom: none !important;
   color: darkred;
   font-size: 2rem;
   font-weight: bold;
   padding-left:13px;
   margin-top:2%;
}

#labeltxt{
 margin-left: 16px;
 color: darkslategray;
 font-weight: bold;
}


.mom {
    display: table;
}
.child {
    display: table-cell;
    vertical-align: middle;
    
}
.childinner {
    margin-left: 13px;
}
.child:first-child .childinner {
    margin-left: 10px;
    padding-left: 10px;
}

.fixedwidth{
  max-width:25%;
  border: solid blue;
}


.fixedwidthcombine{
  max-width:25%;
}


.txtlabel{
  color: darkslategray !important;
 font-weight: bold;
 font-size:1.4rem !important;
}

.divLast{
   margin:0px;  
   padding: 0px 2px 2px 3px;    
   border-width: 2px;
   border-bottom-width:2px;
   border-bottom-style: solid;
   width: 100%;
}

.combotxt{
  color: black !important;
 font-size:1.4rem !important;
}


.col{
margin-left:1%;
}



.itemfinal{
     max-height: 6rem !important;
  min-height: 6rem !important;
}

.inputteam{
  width: 100% !important;
  padding-left: 10px;
  margin: 0px 0px 2% 0px !important;

}

.inputnumericlastvalue{
  border: 1px solid grey !important;
  max-height: 80% !important;
  margin: 1px 2px 2px 1px !important;
  max-width: 17%;
}

.text-input-md {
    width: 100%;
    margin: 0px 0px 0px 0px !important;
}

#avgcalc{
    min-height: 5rem;
    font-size: 14px;
}